.border-custom th{
    border: 1px solid;
}

.border-custom td{
    border: 1px solid;
}

.border-custom tbody{
    border: 1px solid;
}

.navbar-item:hover{
    background-color: #3E8ED0 !important;
}

.navbar-item:hover p{
    color:#4A4A4A;
}

a.box{
    box-shadow: 5px 10px 2px rgba(0, 0, 0, 0.496);
    color: black;
    font-weight: bold;
}

a.box p{
    color:black
}

a.box:hover{
    box-shadow: 5px 10px rgb(125, 125, 125);
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    transition: font-size 500ms ,background-color 1s;
}

a.box:hover p{
    color: white;
    transition: color 1s;
}

@keyframes rotate{
    
}
